<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS-->
    <link rel="stylesheet" href="/css/home.css">
    <!-- Bootstrap CSS -->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">-->
    <title>Quản lý nhân sự</title>
</head>
<body>
  <div class="wrapper">
      <!--      start sidebar-->
      <div class="sidebar">
          <h2 class="sidebarTitle">Quản lý Nhân viên</h2>
          <div class="persion" th:switch="${user.getQuyen()}">
              <a href="#" th:case="1">
                  <img class="persionImg" src="/img/user1.webp" alt="User">
              </a>
              <a href="#" th:case="2">
                  <img class="persionImg" src="/img/hieutruong.webp" alt="User">
              </a>
              <div th:switch="${user.getQuyen()}">
                  <div class="persionInfo" th:case="1">
                      <a href="#" class="persionName" th:text="${hoten}"></a> <br>
                      <span class="persionQuyen">Nhân viên nhân sự</span>
                  </div>
                  <div class="persionInfo" th:case="2">
                      <a href="#" class="persionName">Huỳnh Công Pháp</a> <br>
                      <span class="persionQuyen">Hiệu trưởng</span>
                  </div>
              </div>
          </div>

          <div class="sidebarMenu">
              <ul class="sidebarList">
                  <li class="sidebarItem">
                      <a href="#">Phòng Nhân Sự</a>
                  </li>
                  <li class="sidebarItem">
                      <a href="#">Phòng Tài Chính</a>
                  </li>
                  <li class="sidebarItem">
                      <a href="#">Phòng CTSV</a>
                  </li>
                  <li class="sidebarItem">
                      <a href="#">Phòng Đào Tạo</a>
                  </li>
              </ul>
          </div>
      </div>
      <!--      end sidebar-->

      <div class="containerMain">
          <!--      start header-->
          <div class="header" id="header">
              <div class="headerSearch">
                  <form>
                      <input class="headerInput" type="text" name="search" placeholder="Tìm kiếm nhân viên...">
                      <input class="headerInput" type="submit" value="Search">
                  </form>
              </div>
              <div class="headerButtons">
                  <a th:href="@{/nhanvien/add}"><button id="btn_add">Thêm nhân viên</button></a>
              </div>
          </div>
          <!--      end header-->

          <!--      start main-->
          <div class="main">
              <!--          start listnhanvien-->
              <div class="list-nhanvien">
                  <table>
                      <thead>
                      <tr>
                          <th>STT</th>
                          <th>Mã nhân viên</th>
                          <th>Họ và tên</th>
                          <th>Ngày sinh</th>
                          <th>Quê quán</th>
                          <th>Dân tộc</th>
                          <th>Tôn giáo</th>
                          <th>Tình trạng hôn nhân</th>
                          <th>Tình trạng sức khỏe</th>
                          <th>Image</th>
                          <th>Action</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr th:each="nhanvien,index : ${nhanvienList}">
                          <td th:text="${index.count}"></td>
                          <td th:text="${nhanvien.getManv()}"></td>
                          <td th:text="${nhanvien.getHoten()}"></td>
                          <td th:text="${nhanvien.getNgaysinh()}"></td>
                          <td th:text="${nhanvien.getQuequan()}"></td>
                          <td th:text="${nhanvien.getDantoc()}"></td>
                          <td th:text="${nhanvien.getTongiao()}"></td>
                          <td th:text="${nhanvien.getTinhtranghonnhan()}"></td>
                          <td th:text="${nhanvien.getTinhtrangsuckhoe()}"></td>
                          <td th:text="${nhanvien.getImage()}"></td>
                          <td>
                              <a href="#"><i class="fa-regular fa-pen-to-square icon-edit"></i></a>
                              <a href="#"><i class="fa-regular fa-trash-can icon-delete"></i></a>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>
          </div>
          <!--      end main-->
      </div>
  </div>
    <!--  fontawesome-->
  <script src="https://kit.fontawesome.com/9522477d33.js" crossorigin="anonymous"></script>
  <!-- Bootstrap CSS -->
<!--  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" -->
<!--          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" -->
<!--          crossorigin="anonymous"></script>-->
</body>
</html>